

.TeamSection {
  margin-bottom: 100.4375em;

  
  padding-inline: 1em;

  @media (min-width: 48em) {
    padding-inline: 2em;
  }
  @media (min-width: 80em) {
    padding-inline: calc((100% - 80em) / 2 + 2.5em);
  }
}

h1{
  margin: 0;
  padding: 100px 20px;
  font-size: 5rem
}


* {
  font-family: Nunito, sans-serif;
}

.responsive-cell-block {
  min-height: 65px;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  color: black;
}

.responsive-container-block {
  min-height: 65px;
  height: fit-content;
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: 50px;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
  /* padding-right: 20px; its working */ 
  padding-bottom: 20px;
  /* padding-top: 40px; */
}

.team-head-text {
  line-height: 50px;
  /* width: 100%; */
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.container {
  /* max-width: 1380px; */
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.card {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  /* padding-right: 25px; */
  /* padding-bottom: 10px; */
  /* padding-left: 50px; */
  background-color: LightGray;
}

.card-container {
  width: 250px;
  height:430px;
  margin-top: 55px;
  margin-right: 20px;
  margin-bottom: 55px;
  margin-left: 10px;
}

.name {
  margin-top: 20px;
  /* margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px; */ 
  font-size: 18px;
  font-weight: 800;
}

.social-icons {
  /* width: 70px; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  height:35px;
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
  /* padding:0px; */
}

.linkedin-icon , .mail-icon {
  border: none;
}

.team-image-wrapper {
  clip-path: circle(50% at 50% 50%);
  width: 140px;
  height: 140px;
}

p{
  padding:20px;
}
.team-member-image {
  max-width: 100%;
  border: none;
}

@media (max-width: 100px) {
  .card-container {
    width: 50%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
}