.Styledhome3 {
  background-color: rgb(15, 19, 31);
  display: flex;
  flex-direction: column;
  /* gap: 2em; */
  /* padding-block: 3em; */
  margin-bottom: 10em;
  margin-top: 5em;
  padding-inline: 1em;
  justify-content: left;
  align-items: left;
  min-height: 100vh;
}

h2.headertekst {
  text-align: center;

  @media (min-width: 48em) {
    font-size: 2rem;
    /* grid-column: 1 / 4; */
  }
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 180px auto;
  width: 70%;
  display: flex;
  align-items: flex-start; /* Align items at the top */
  gap: 300px; /* Add gap between image and text box */
}

.image {
  width: 85px;
}

.text-box {
  color: #fff;
  max-width: 325px;
}

.text-box h2 {
  font-size: 42px;
  text-align: right;
  @media (max-width: 768px) {
    font-size: 32px; /* Adjust the font size for smaller screens */
  }
}

.text-box p {
  font-size: 16px;
}
