* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: #0f131fc4;
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 30px;
    left: 20px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.home,
.membership,
.team,
.about,
.event,
.contact {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.home:hover,
.membership:hover,
.team:hover,
.about:hover,
.event:hover,
.contact:hover {
    position: relative;
    text-decoration: none;
}

.home:hover::after,
.membership:hover::after,
.team:hover::after,
.about:hover::after,
.event:hover::after,
.contact:hover::after {
    content: "";
    display: block;
    position: absolute;
    /* left: 1; */
    bottom: -3px;
    height: 5px;
    width: 80%;
    background-color: blue;
    border-radius: 10px;
}

.home:active,
.membership:active,
.team:active,
.about:active,
.event:active,
.contact:active {
    /* background-color: rgba(15, 0, 91, 0.765); */
    position: relative;
    top: 2px;
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 1190px) {
    .logo {
        display: flex;
        position: absolute;
        left: 20px;
        font-size: 30px;
    }

    .nav-links {
        display: none;
    }

    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        background-color: #0f131fc4;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }

    .home,
    .membership,
    .team,
    .about,
    .event,
    .contact {
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }

    .mobile-menu-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color: #0f131fc4;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }
}
